<div class="ele-strip">
  <ul>
    <li><a (click)="stars = null">all</a></li>
    <li><a (click)="stars = 1">*</a></li>
    <li><a (click)="stars = 2">**</a></li>
    <li><a (click)="stars = 3">***</a></li>
    <li><a (click)="stars = 4">****</a></li>
    <li><a (click)="stars = 5">*****</a></li>
  </ul>
</div>
<div class="village">
  <h3>Righteous indignation & like</h3>
  <span class="line"> </span>
  <div class="activity_box">
    <div class="scrollbar" id="style-2">
      <div
      class="activity-row"
      [class.active]="current === data.id"
      *ngFor="let data of activities | hotelfilter:keyword | stars:stars"
      >
        <div class="activity-desc">
          <h5 (click)="deleteHotel(data)">{{data.title}}</h5>
          <p (click)="onChoosedHotel(data)">{{data.address}}</p>
          <p>{{data.description}}</p>
          <h6 *ngIf="data.phone">Tel: {{data.phone}}</h6>
        </div>
        <div class="activity-img">
          <ul>
            <li *ngFor="let img of data.photos">
              <img [src]="img" />
            </li>
          </ul>
        </div>
        <div class="clear"> </div>
      </div>

    </div>
  </div>
</div>
