<div class="element" *ngIf="current">
  <div class="filter">
    <input type="text" name="text" [(ngModel)]="keyword">
  </div>
  <div class="element-left">
    <div class="element-bg-img"><img [src]="current?.picture" [alt]="current.title" class="img-responsive"> </div>
    <div class="element-left-bottom">
      <app-list
      [keyword]="keyword | lowercase"
      [activities]="activities"
      [current]="current.id"
      (choosedHotel)="getHotelID($event)"></app-list>
    </div>
  </div>
  <div class="element-right">
    <app-weather [weather]="current.weather"></app-weather>
    <app-profile [profile]="current.profile"></app-profile>
  </div>
  <div class="clear"> </div>
</div>
