.filter {
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 3px;
    input {
        display: block;
        border: none;
        width: 100%;
        background-color: transparent;
    }
}