<div class="full-width">
  <form #newAct="ngForm" (ngSubmit)="onSubmit(newAct)">
    <mat-form-field class="full">
      <input required matInput placeholder="Title" type="text" name="title" ngModel>
    </mat-form-field>
    <mat-form-field class="full">
      <input required matInput placeholder="Address" type="text" name="address" ngModel>
    </mat-form-field>
    <mat-form-field class="full">
      <input required matInput placeholder="Description" type="text" name="description" ngModel>
    </mat-form-field>
    <mat-form-field class="full">
      <input required matInput placeholder="Phone" type="tel" name="phone" ngModel>
    </mat-form-field>
    <mat-form-field class="full">
      <input required matInput placeholder="Photo" type="text" name="picture" ngModel>
    </mat-form-field>
    <h3>Photos</h3>
    <mat-form-field class="full">
      <input required (change)=dud(newAct) matInput placeholder="Photo 1" type="text" [(ngModel)]="item.photos[0]">
    </mat-form-field>
    <mat-form-field class="full">
      <input required matInput placeholder="Photo 2" type="text" [(ngModel)]="item.photos[1]">
    </mat-form-field>
    <h3>Weather</h3>
    <mat-form-field class="full">
      <input required matInput placeholder="Temperature" type="number" [(ngModel)]="item.weather.temperature">
    </mat-form-field>
    <mat-form-field class="full">
      <input required matInput placeholder="Wind" type="number" [(ngModel)]="item.weather.wind">
    </mat-form-field>
    <mat-form-field class="full">
      <mat-label>Select icon</mat-label>
      <mat-select required [(ngModel)]="item.weather.icon">
        <mat-option [value]="'sun'">
          Sun
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h3>Profile</h3>
    <mat-form-field class="full">
        <input required matInput placeholder="Followers" type="number" [(ngModel)]="item.profile.followers">
    </mat-form-field>
    <mat-form-field class="full">
        <input required matInput placeholder="Following" type="number" [(ngModel)]="item.profile.following">
    </mat-form-field>
    <mat-form-field class="full">
        <input required matInput placeholder="Photo" type="text" [(ngModel)]="item.profile.photo">
    </mat-form-field>
   


    <button [disabled]="newAct.invalid" mat-flat-button color="accent">Accent</button>
  </form>
</div>
